/*初始化*/
body,h1,h2,h3,h4,h5,h6,div,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure,figcaption,article,section,aside{margin:0;padding:0;box-sizing: border-box;}
img{vertical-align: top;} /*除去img4px*/
